<body style="background-image:url('https://wallpapercave.com/wp/wp5576848.jpg');">
<h1>Enter your artist below</h1> 
<form method="POST" action="/artists">
    <label>name: </label>
    <input type="text" name="name"><br>
    <label>genre</label>
    <input type="text" name="genre"><br>
    <input type="submit">
</form>
</body>