<html>
  <head></head>
  <body style="background-image:url('https://wallpapercave.com/wp/wp5576848.jpg');">
    <h1>Albums</h1>
     <div>
      <% @albums.each do |album| %>
      <p>
        Title: <%= album.title %> <br>
        Released: <%= album.release_year %>
        <button onclick="window.location.href='/albums/<%= album.id %>';">More info</button>
      </p>
      <% end %>
    </div>
  </body>
</html>