<html>
  <head></head>
  <body style="background-image:url('https://wallpapercave.com/wp/wp5576848.jpg');">
    <h1><%= @artist.name %></h1>

    <div>
      Genre: <%= @artist.genre %>
    </div>
  </body>
</html>