    <html>
    <head></head>
    <body style="background-image:url('https://wallpapercave.com/wp/wp5576848.jpg');">
        <h1> ~ Welcome to a database of random albums ~ </h1>
        <p><button onclick="window.location.href='/albums';">Albums</button>
        <button onclick="window.location.href='/artists';">Artists</button></p>
    </body>
    </html>